<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>App Home</title>
</head>
<body>
    <form action="" method="POST">
        {% csrf_token %}
        <h3>Type in or paste text:</h3>
        <p>
            
            <label for="demo-q"></label><br>
            <textarea name="userInput" class="form-control" rows="5" id="userInput">こんにちは</textarea>
          </p>
          <input type="submit"size="200" name="submit">
          <br>
          <p>Output: {{userInput}}</p>
    </form>
    
</body>
</html>